<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Details</title>
  <link rel="stylesheet" href="../static/css/movieDetails.css">
</head>
<body>
  <div class="navbar">
    <h1>Movie Details</h1>
    <button id="homeBtn" class="logout-btn">Home</button>
  </div>
  
  <div id="movieDetails">
    <!-- Movie details will be loaded here -->
  </div>

  <div id="ratingFormContainer" class="rating-form-container">
    <!-- Rating form will be loaded here -->
  </div>

  <div id="commentFormContainer" class="comment-form-container">
    <!-- Comment form will be loaded here -->
  </div>
  
  <div id="commentsContainer" class="comments-container">
    <!-- Comments will be loaded here -->
  </div>

  <script src="../movieDetails.js"></script>
</body>
</html>
